:root {
  --primary-font-family: Roboto, sans-serif;
  --primary-font-color: #212121;
  --secondary-font-family: Raleway, sans-serif;
  --secondary-font-color: #757575;
  --white-font-color: #FFFFFF;
  --accent-color: #188CE8;
  --shadow-btn-color: #F5F4FA;
}

body {
  font-family: var(--primary-font-family);
}

h1,h2,h3,p {
  margin: 0;
  margin: 0;
}

ul,li {
  margin: 0;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

/* ===== START HEADER ===== */

.header {
  background-color: #ffffff;
  /* border-bottom: 1px solid #ECECEC; */
}

.header-container {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 94px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.link.current {
  color: var(--accent-color);
}

.web {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.studio-logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.nav-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-font-color);
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--accent-color);
}

.contact-email {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  margin-right: 50px;
  letter-spacing: 0.02em;
  color: var(--secondary-font-color);
}

.contact-email:hover,
.contact-email:focus {
  color: var(--accent-color);
}

.contact-number {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-font-color);
}

.contact-number:hover,
.contact-number:focus {
  color: var(--accent-color);
}

/* ===== START HEADER ===== */

.header {
  background-color: #ffffff;
  /* padding-bottom: 94px; */
}

.header-container {
  display: flex;
  text-align: center;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list-item {
  margin-right: 50px;
}

.logo {
  margin-right: 94px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.link.current {
  color: var(--accent-color);
}

.web {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.studio-logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.nav-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-font-color);
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--accent-color);
}

.contact-email {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  margin-right: 50px;
  letter-spacing: 0.02em;
  color: var(--secondary-font-color);
}

.contact-email:hover,
.contact-email:focus {
  color: var(--accent-color);
}

.contact-number {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-font-color);
}

.contact-number:hover,
.contact-number:focus {
  color: var(--accent-color);
}

/* ===== END HEADER ===== */



/* ===== START HERO ===== */

/* ===== END HERO ===== */



/* ===== START FEATURES ===== */

/* ===== END FEATURES ===== */



/* ===== START ABOUT ===== */

/* ===== END ABOUT ===== */



/* ===== START TEAM ===== */

/* ===== END TEAM ===== */



/* ===== START PORTFOLIO ===== */

.portfolio {
  padding-top: 94px;
  border-top: 1px solid #ECECEC
}

.portfolio-list-btn {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.portfolio-button {
  margin-right: 8px;
  min-width: 145px;
  padding: 6px 15px;

  font-family: inherit;
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  background-color: var(--shadow-btn-color);
  color: var(--primary-font-color);
}

.portfolio-button:hover,
.portfolio-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--white-font-color);
}

.portfolio-list .current {
  background-color: var(--accent-color);
  color: var(--white-font-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  padding-bottom: 94px;
}

.portfolio-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio-subsribe {
  background: var(--white-font-color);
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
}

.portfolio-subsribe-item {
  padding-top: 20px;
  padding-bottom: 4px;
  padding-left: 24px;
  font-family: var(--secondary-font-family)
  font-style: 400;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-font-color);
}

.portfolio-type-list {
  padding-bottom: 20px;
  padding-left: 24px;
  font-family: var(--secondary-font-family)
  font-style: 400;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
}

/* ===== END PORTFOLIO ===== */

/* ===== START FOOTER ===== */

.footer {
  background-color: #2f303a;
}

.web {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.studio {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white-font-color);
}

.footer-wrapper {
  padding-top: 60px;
  padding-bottom: 20px;
}

.footer-address {
  padding-bottom: 60px;
}

.footer-link {
  padding-bottom: 9px;
}

.footer-contact {
  padding-bottom: 9px;
}

.footer-link {
  font-family: inherit;
  font-style: 400;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-font-color);
}

.footer-contact {
  font-family: inherit;
  font-style: 400;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  /* ===== END FOOTER ===== */